*{
  margin: 0;
  box-sizing: border-box;
}

.main{
  width: 70vw;
  height: 260px;
  margin: 3rem auto;
  text-align: center;
  box-shadow: 2px 2px 5px pink;
  padding: 10px;
}
.main h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.1rem;
  letter-spacing: 2px;
}

input{
  width: 450px;
  height: 40px;
  margin: 10px;
  background: rgb(244, 239, 241);
  border: none;
  border-radius: 5px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1.2rem;
  align-items: center;
}

.form label{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 cursor: pointer;
}
 .btn{
  padding:5px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;text-transform: capitalize;
  cursor: pointer;
  margin-top: 1rem;
background: rgb(200, 167, 167);
 }
 